<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Catalog</title>
</head>
<body bgcolor="#2E8B57">

<div style="text-align: center">

    <h1>Choose the products you need:</h1>
    <form method="post" action="/online-shop/addProduct">
        <select name="product">
            <option value="1">Paracetamol - 10$</option>
            <option value="2">Ibuprofen - 20$</option>
            <option value="3">Analgin - 15$</option>
            <option value="4">Aspirin - 12$</option>
            <option value="5">Lapiramid - 8$</option>
            <option value="6">Loratodin - 22$</option>
            <option value="7">Drotoverin - 40$</option>
            <option value="8">Mezim - 52$</option>

            <input type="submit" name="form" value="add">
            <input type="submit" name="form" value="enter">
        </select>
    </form>
</div>

</body>
</html>